Binaries
Content/Geometry/*
Content/Mannequin/*
Content/StarterContent/*
Content/TopDownCPP/*
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace